@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.descriptionText {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.center {
  font-family: 'Montserrat', sans-serif;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}