@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

.descriptionText {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.center {
  font-family: 'Montserrat', sans-serif;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.mobile {
  /* iPhone 6, 7, & 8 in portrait */
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : portrait) {
    width: 80%;
    margin-left: 40px;
  }

  /* iPhone 6, 7, & 8 in landscape */
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : landscape) {
    width: 80%;
    margin-left: 60px;
  }
}